body {
  font-family: 'Open Sans', serif;
}

.grid-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.grid-header {
  font-size: 25px;
}

.grid-header span {
  font-weight: 700;
}

.grid-game {
  padding: 20px;
}

.grid-game__container {
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  -webkit-perspective: 800px;
  border: 1px solid #cdcdcd;
  height: 50px;
  perspective: 800px;
  position: relative;
  width: 50px;
}

.grid-game__card {
  -moz-transform-style: preserve-3d;
  -moz-transition: -moz-transform 1s;
  -ms-transform-style: preserve-3d;
  -ms-transition: -ms-transform 1s;
  -o-transform-style: preserve-3d;
  -o-transition: -o-transform 1s;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  cursor: pointer;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 100%;
}

.grid-game__card.flipped {
  -moz-transform: rotateY( 180deg);
  -ms-transform: rotateY( 180deg);
  -o-transform: rotateY( 180deg);
  -webkit-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
}

.grid-game__card img {
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.grid-game__color {
  -moz-transform: rotateY( 180deg);
  -ms-transform: rotateY( 180deg);
  -o-transform: rotateY( 180deg);
  -webkit-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
}

.grid-message {
    text-align: center;
}

.grid-message__score {
  font-size: 20px;
}

.grid-message__score span {
  background: #118dcd;
  border-radius: 5px;
  color: #fff;
  margin: 0 10px;
  padding: 2px 7px;
}
